@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3,
ul,
p {
  margin-bottom: 2rem;
}

h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif,
}

h2 {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

h3 {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

h4 {
  font-weight: 700;
  margin-bottom: 1rem;
}

@layer base {
  h2,
  h3,
  h4,
  h5 {
    @apply text-maroon-700;
  }
  main a {
    @apply border-b-2 border-maroon-200 transition-colors ease-in-out duration-200;
  }
  main a:hover {
    @apply border-transparent text-maroon-500;
  }
}

header h1,
header nav {
  text-shadow: 1px 1px 10px rgb(0 0 0);
}

/* body bg */

body {
  background-image: url('/assets/images/bg.webp');
  @apply text-maroon-900;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url('/assets/images/bg-dark.webp');
    @apply text-maroon-50;
  }
  h2,
  h3,
  h4,
  h5 {
    @apply text-maroon-300;
  }
  main a {
    @apply border-b-2 border-maroon-200 transition-colors ease-in-out duration-200;
  }
  main a:hover {
    @apply border-transparent text-maroon-500;
  }
}
